<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174497811264-4rgreg9ekmk4lc0605d58ea85r8billq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174497811264-4rgreg9ekmk4lc0605d58ea85r8billq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174497811264-kie6152gc4vvs3lphjk9m0970ku3cp4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9DKNhJbRu_uX3QeBcwj9DS0jxUkbSIUY</string>
	<key>GCM_SENDER_ID</key>
	<string>174497811264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zipgameday.zip</string>
	<key>PROJECT_ID</key>
	<string>zipgameday-6ef28</string>
	<key>STORAGE_BUCKET</key>
	<string>zipgameday-6ef28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174497811264:ios:58dc19bacbe96fc3fd08a5</string>
	<key>DATABASE_URL</key>
	<string>https://zipgameday-6ef28.firebaseio.com</string>
</dict>
</plist>